<div class="row">
<%= form_tag('/scrape_event') do %>
	Enter events url: <input type="text" name="url" value="">
	<input type="submit" name="submit">
<% end %>

<% if @events.count == 0 %>
	<h1>There are no Events to show, Please add a event :)</h1>
<% else %>

<div class="col-md-6 col-md-offset-3">
<%= form_tag(events_path, method: 'get') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control"%>
    <div class="input-group-btn">
      <%= button_tag "Search for Events", class: 'btn btn-info glyphicon-search', name: nil%>
    </div>
  </div>
<% end %>
</div>

<div class="container">
<%= will_paginate @events, renderer: BootstrapPagination::Rails%>
 <table class="table">
  <thead class="thead-dark">
    <tr> 
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Place</th>
      <th scope="col">Description</th>
    </tr>
  </thead><%#= will_paginate @events %> 
  <% @events.each do |event| %>
  <tbody>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.date %></td>
      <td><%= event.place %></td>
      <td><%= event.description[0..50]%></td>
    </tr>
    <% end %>
  </tbody>

  <% end %> 
</table>

<%= will_paginate @events, renderer: BootstrapPagination::Rails%>  
</div>

<%= link_to 'Add Event', new_event_path %>
</div>